#container {
  background-image: url(../img/bg.png);
  width: 100%;
  height: auto;
}
#heading {
  display: flex;
}
.heading__logo {
}
.heading__logo--change {
  width: 60%;
}
.heading__content {
  color: #0056b3;
  font-family: monospace;
  font-weight: 500;
  font-size: 90px;
  text-transform: uppercase;
  text-shadow: white 0.1em 0.1em 0.2em;
}
#body {
  display: flex;
  justify-content: space-between;
  width: 93%;
  transform: translateX(5%);
  background: rgba(255, 255, 255, 0.5);
}
.title {
  color: #0056b3;
  font-family: monospace;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: white 0.1em 0.1em 0.2em;
  margin: 0 32px;
}
.content {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: monospace;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 2;
}
.body__information {
  width: 33%;
}
.body__image {
  width: 33%;
}
