* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
#backgroud {
  background-image: url(../img/bglogin.jpg);
  width: 50%;
  text-align: center;
  color: whitesmoke;
  margin: 0;
}
#backgroud .backgroud__content {
  height: 271px;
  margin: 220px 0;
  padding: 9px;
  font-family: Arial, Helvetica, sans-serif;
}
#backgroud .backgroud__content h1 {
  font-size: 50px;
}
#backgroud .backgroud__content h2 {
  font-size: 20px;
}
#backgroud .backgroud__line {
  display: block;
  width: 48px;
  height: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-left: 50%;
  margin-top: 16px;
  margin-bottom: 16px;
}
#backgroud .backgroud__text {
  margin: 0 88px;
}
#loggin {
  width: 48%;
  text-align: center;
}
#loggin .loggin__back {
  float: right;
  margin: 32px 32px;
  font-size: 32px;
}
#loggin .loggin__back a {
  color: rgb(253, 93, 93);
}
#loggin .loggin__content h1 {
  font-family: "Segoe UI" "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #097ff5;
  font-weight: bold;
}
#loggin .loggin__container {
  width: 100%;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: -14px;
  margin-left: 25%;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  text-align: center;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 32px;
  border-left: 5px solid #097ff5;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: -16px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  left: 16px;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.25rem;
    color: primary;
    font-weight: 700;
  }
}
#loggin .loggin__icon img {
  width: 25%;
  height: 25%;
  margin-left: 128px;
}
#loggin .loggin__keepsigned {
  margin-right: -24px;
}
#loggin .loggin__keepsigned--checkbox {
  transform: translateY(2px);
}
#loggin .loggin__keepsigned a {
  margin-left: 135px;
  text-decoration: none;
  font-weight: 600;
  color: #097ff5;
}
#loggin .loggin__submit button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 32px 0;
  background-color: #097ff5;
  color: whitesmoke;
  font-size: larger;
  border: 1px solid transparent;
  border-radius: 32px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 8px;
  width: 50%;
  letter-spacing: 6px;
  cursor: pointer;
}
