@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: fontBWD;
  src: url(../font/00119-UTM-HelvetIns/00119-UTM-HelvetIns.ttf);

  font-family: fontVKU;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
}

body {
  background-color: #fff;
  font-family: "IBM Plex Sans", sans-serif; /* Thay đổi font chữ nếu cần */
}
.container .background .head .img {
  width: auto;
  height: 3cm;
}
.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: fontBWD;
}
.navbar a:hover {
  color: #46a4d2;
}
#header {
  position: relative;
  padding: 0 2rem;
  font-family: fontBWD;
}
.navbar {
  background-color: whitesmoke;
   opacity: 0.8; 
  position: fixed;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -32px;
}
.navbar .logo img {
  width: 160px;
  margin-top: 10px;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 32px;
}

.action_btn:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn:active {
  scale: 0.95;
}
.action_btn2 {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn2:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn2:active {
  scale: 0.95;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0px;
  top: 60px;
  width: 400px;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
  height: 550px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo__header {
  width: 128px;
  margin-bottom: -64px;
  margin-left: 32px;
}
/* Container chính */
.container {
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg.png);
  background-position: center;
}

/* Phần header */
.background .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.head .img {
  width: 150px;
  height: 150px;
  padding: 0cm;
}

.head .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__change {
  width: 100%;
  height: 200px;
  margin-top: 120px;
  margin-bottom: 78px;
}
.button_container {
  display: flex;
  align-items: center;
}

.login-register {
  display: flex;
}
.login:hover,
.register:hover,
.DangKyMentor:hover {
  opacity: 0.8;
}
.title,
.small_title {
  font-family: fontBWD;
  font-weight: bold;
  font-size: large;
}
.title .title_1,
.title_2,
.title_3 {
  padding-top: 9px;
}

/* Phần nội dung chính */
.Content {
  display: flex;
  padding: 20px;
  padding-top: 0;
  justify-content: space-around;
}

.title {
  text-align: left;
  width: 70%;
  color: #fff; /* Màu chữ */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: fontBWD;
  line-height: 2;
}

.DangKyMentor button {
  padding: 15px 25px;
  background: linear-gradient(180deg, rgb(22, 167, 239), rgb(148, 45, 212));
  color: #fff;
  border: 2px solid;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  float: right;
  /* transform: translateY(-50px); */
  font-weight: bolder;
}
.ipad {
  display: none;
}
/* Phần hướng dẫn 4 bước */
.DangKy .Instruct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.DangKy .Instruct button {
  font-family: fontBWD;
  padding: 20px 30px;
  border: 2px solid;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 20px;
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  width: 150px;
  height: auto; /* Đặt chiều cao của button là tự động để phù hợp với nội dung bên trong */
}

.Instruct p {
  font-size: 14px;
  margin-top: 5px;
}

.Instruct hr {
  /* border: none; */
  height: 1px;
  color: linear-gradient(180deg, rgb(22, 167, 239), rgb(148, 45, 212));
  margin: 10px 0;
}

/* Phần tìm kiếm Mentor */
.findmentor {
  padding: 20px;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #46a4d2;
}

.findmentor .find {
  padding: 16px 64px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: fontBWD;
}

.findmentor .EnterName {
  width: 82%;
  margin: 8px;
  padding: 16px 64px;
}

.findmentor .title_4 {
  height: auto;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: fontBWD;
  font-size: 30px;
  text-overflow: ellipsis;
  text-align: center;
}

.findmentor .Khoa {
  padding: 16px 64px;
  margin: 8px 6px;
}

.findmentor .Ngành {
  padding: 16px 64px;
  margin: 8px 6px;
}
.findmentor .Môn {
  padding: 16px 64px;
  margin: 8px 6px;
}
/* Phần hình ảnh VKU Mentor */
.ImageVkuMentor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 20px;
}

.ImageVkuMentor button {
  border: none;
}

.ImageVkuMentor img {
  width: 100%;
  height: auto;
}
/* Responsive smarthone */
@media (max-width: 739px) {
  /* .img__change {
    width: 100%;
  }
  .container {
    background-image: url(Images/bg.png);
    background-position: center;
    background-size: 700px 520px;
  }
  .Content {
    display: block;
    padding: 10px;
    font-family: fontBWD;
  }
  .container .background .head {
    padding-bottom: 7px;
  }
  #header {
    max-width: 100%;
    height: 26.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #header .menu {
    float: right;
    color: whitesmoke;
    line-height: 46.5px;
    padding: 0px 22px;
    display: none;
  }
  #nav li a {
    text-decoration: none;
    padding: 12px 20px;

    color: black;
  }
  #nav .logo {
    max-height: 20.5px;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #nav li:first-child {
    display: inline-block;
  }
  #nav > li > a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 0 8px;
    display: block;
    margin-top: -4px;
    font-size: 8px;
    margin-bottom: 0px;
  }

  #nav .Login,
  .Signup {
    float: right;
    height: auto;
    width: 60px;
    text-align: center;
    padding-top: 0;
    font-size: 60%;
    transform: translate(-10px, 6px);
  }
  .ImageVkuMentor {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px 20px;
  }

  .title {
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .title .title_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    white-space: nowrap;
    font-size: 10px;
    flex-wrap: nowrap;
    font-family: fontBWD;
  }

  .title .title_2 {
    grid-column-start: 2;
    font-size: 10px;
    height: auto;
    max-width: 100px;
    white-space: nowrap;
    font-family: fontBWD;
  }
  .title_3 {
    grid-column-start: 3;
    font-size: 10px;
    font-family: fontBWD;
    white-space: nowrap;
  }

  .small_title {
    grid-column-start: 4;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 390px;
    height: auto;
    font-size: 11px;
    font-family: fontBWD;
    padding-right: 10px;
    padding-left: 0px;
  }

  .DangKyMentor button {
    max-width: 50%;
    padding: 1px;
    height: 0.8cm;
    font-weight: 100;
    float: left;
    font-family: fontBWD;
  }
  .DangKy .Instruct {
    float: right;
  }
  .DangKy .Instruct button {
    float: right;
    padding: 10px 10px;
    max-width: 120px;
    font-size: 10px;
    height: auto;
    font-family: fontBWD;
  }

  .Instruct p {
    font-size: 10px;
  }

  .findmentor {
    display: flex;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    height: 2cm;
    gap: 10px;
    align-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .findmentor .EnterName,
  .Khoa,
  .Môn,
  .Ngành {
    display: flex;
    max-width: 2cm;
    max-height: 0.7cm;
    font-size: 8px;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
  }

  .findmentor .title_4 {
    display: block;
    padding-bottom: 5px;
    font-size: 15px;
    white-space: nowrap;
    width: 60px;
  }
  .findmentor .find {
    max-height: 20px;
    font-size: 12px;
    align-self: center;
  }*/
  .Content {
    display: flex;
    flex-direction: column;
  }
  .small_title {
    display: none;
  }
  .DangKy .Instruct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .findmentor {
    display: grid;
    padding: 10px;
  }
  .findmentor .EnterName {
    width: 100%;
    margin-bottom: 16px;
  }
  .findmentor .Khoa,
  .findmentor .Ngành,
  .findmentor .Môn {
    margin-bottom: 16px;
    width: 100%;
  }
  .ImageVkuMentor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 20px;
  }
  .findmentor .title_4 {
    color: #8b56e9;
  }
  .DangKyMentor {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  .ipad {
    display: block;
    padding: 16px 32px;
  }
  #header {
    max-height: 32px;
  }

  #nav > li > a {
    padding: 4px 8px;
    margin-top: -8px;
    margin-bottom: -7px;
    font-size: 12px;
  }
  .container .background .head {
    padding-bottom: 12px;
  }
  #nav .Login a {
    color: black;
    padding: 0, 12px;
  }
  #nav .Login,
  .Signup {
    height: 32px;
    width: 60px;

    padding-top: 8px;
    font-size: 12px;
    cursor: pointer;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .title {
    margin-bottom: 32px;
  }
  .small_title {
    display: none;
  }
  .Content {
    display: flex;
    flex-direction: column;
  }
  .findmentor {
    display: block;
    padding: 10px;
    align-items: center;
  }
  .findmentor .EnterName {
    margin-bottom: 16px;
    width: 80%;
    margin-left: 85px;
  }
  .findmentor .Khoa,
  .findmentor .Ngành,
  .findmentor .Môn {
    margin-bottom: 16px;
    width: 80%;
    margin-left: 85px;
  }
  .findmentor .find {
    margin-left: 36%;
  }
  .DangKy .Instruct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  .ImageVkuMentor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 20px;
  }
  .findmentor .title_4 {
    color: #8b56e9;
  }
  .DangKyMentor {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  .ipad {
    display: block;
    padding: 16px 32px;
  }
  #header {
    max-height: 32px;
  }

  #nav > li > a {
    padding: 4px 8px;
    margin-top: -8px;
    margin-bottom: -7px;
    font-size: 12px;
  }
  .container .background .head {
    padding-bottom: 12px;
  }
  #nav .Login a {
    color: black;
    padding: 0, 12px;
  }
  #nav .Login,
  .Signup {
    height: 32px;
    width: 60px;

    padding-top: 8px;
    font-size: 12px;
    cursor: pointer;
  }
}

.footer {
  width: auto;
  height: auto;
  background-color: #bcb5ff;
  color: whitesmoke;
  font-size: 24px;
  text-transform: uppercase;
  font-family: fontBWD;
  text-align: center;
}
.footer_content {
  display: flex;
  height: auto;
  justify-content: space-around;
  text-align: left;
}
.footer__logo {
  width: 256px;
  margin-top: -32px;
  margin-bottom: -32px;
}
.footer p {
  font-size: 40px;
  margin-bottom: 32px;
}
.footer a {
  text-decoration: none;
  color: whitesmoke;
  line-height: 3;
}
.footer li {
  list-style: none;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon li {
  font-size: 64px;
  margin-top: -64px;
  margin-right: 32px;
  list-style: none;
}

.b24-widget-button-wrapper {
  right: 20px !important;
  bottom: 100px !important;
}

@media (max-width: 739px) {
  .footer {
    text-align: center;
  }
  .footer_content {
    display: block;
    text-align: center;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .footer {
    text-align: center;
  }
  .footer__icon li {
    font-size: 32px;
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar {
    display: none;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
    margin: 0px 16px;
    margin-top: -8px;
    padding: 16px;
  }
  .dropdown_menu {
    display: block;
  }
  .logo {
    display: block;
  }
}
.smooth{

}